/* .vitepress/theme/style/blur.css */
:root {

  /* 首页导航 */
  .VPNavBar {
    background-color:transparent;
    background-image: radial-gradient(transparent 1px, var(--vp-c-bg) 1px);
    background-size: 4px 4px;
    backdrop-filter: saturate(50%) blur(4px);
    -webkit-backdrop-filter: saturate(50%) blur(4px);

  }

  /* 文档页导航两侧 */
  .VPNavBar:not(.home) {
    background-color:transparent;
    background-image: radial-gradient(transparent 1px,  var(--vp-c-bg) 1px);
    background-size: 4px 4px;
    backdrop-filter: saturate(50%) blur(4px);
    -webkit-backdrop-filter: saturate(50%) blur(4px);

  }
  @media (min-width: 960px) {
    .VPNavBar:not(.has-sidebar):not(.top) {
        background-color: transparent;
    }
  }
}
