/* 基础光标样式 */
* {
  cursor: url('/docs/SimplifyCoffee/cursor.cur'), auto;
}


/* 指针样式元素 */
a,
button,
.VPButton,
.VPLink,
.VPNavBarMenuLink,
.VPSidebarItem,
[role="button"],
input[type="button"],
input[type="submit"],
.clickable {
  cursor: url('/docs/SimplifyCoffee/cursor2.cur'), pointer !important;
}

/* 文本编辑样式元素 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
input,
[contenteditable="true"] {
  cursor: url('/docs/SimplifyCoffee/cursor3.cur'), text !important;
}

/* 文本选择样式 */
::selection {
  background-color: var(--vp-button-brand-bg);
  color: #ffffff !important;
}

::-moz-selection {
  background-color: var(--vp-button-brand-bg);
  color: #ffffff !important;
}



.batch-action-btn{
  display: block;
  width: 7rem;
  margin: 0 auto;
  height: 1.2rem;
  /* line-height: 1.2rem; */
  background-color: #d10815;
  color: #fff;
  font-size: 0.46rem;
  text-align: center;
  border-radius: 0.6rem;
  /* margin: 0.8rem auto; */
  border: none;
}